<font size="+5">#02 | Decision Tree. A Supervised Classification Model</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

Load the dataset from [CIS](https://www.cis.es/cis/opencms/ES/index.html) executing the lines of code below:
> - The goal of this dataset is
> - To predict `internet_usage` of **people** (rows)
> - Based on their **socio-demographical characteristics** (columns)

In [1]:
!pip install sklearn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Requirement already satisfied: sklearn in c:\users\jgijon\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\jgijon\anaconda3\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in c:\users\jgijon\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jgijon\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: scipy>=0.19.1 in c:\users\jgijon\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jgijon\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)

In [2]:
url = 'https://raw.githubusercontent.com/py-thocrates/data/main/internet_usage_spain.csv'

df = pd.read_csv(url)
df.head()

   internet_usage     sex  age   education
0               0  Female   66  Elementary
1               1    Male   72  Elementary
2               1    Male   48  University
3               0    Male   59         PhD
4               1  Female   44         PhD

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455 entries, 0 to 2454
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   internet_usage  2455 non-null   int64
 1   sex             2455 non-null   object
 2   age             2455 non-null   int64
 3   education       2455 non-null   object
dtypes: int64(2), object(2)
memory usage: 76.8+ KB

In [4]:
df.shape

(2455, 4)

In [5]:
X = df.iloc[:, 1:].values
y = df.iloc[:, 0].values

In [6]:
pd.DataFrame(X)

           0   1            2
0     Female  66   Elementary
1       Male  72   Elementary
2       Male  48   University
3       Male  59          PhD
4     Female  44          PhD
...      ...  ..          ...
2450    Male  43   Elementary
2451  Female  18  High School
2452  Female  54   Elementary
2453    Male  31  High School
2454    Male  52   Elementary

[2455 rows x 3 columns]

In [7]:
pd.DataFrame(y)

      0
0     0
1     1
2     1
3     0
4     1
...  ..
2450  1
2451  1
2452  0
2453  1
2454  0

[2455 rows x 1 columns]

In [8]:
#la columna de sexo no es numerica sino categorica

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import make_column_transformer

In [10]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = make_column_transformer((OneHotEncoder(), [0]), remainder = "passthrough")
X = onehotencoder.fit_transform(X)

In [16]:
X=pd.DataFrame(X)
X_1 = C.drop('3', 1)
X

NameError: name 'C' is not defined

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

# Data Preprocessing

> - Categorical variables contains `text`
> - If you pass the data to the model
> - It won't know how to interpret the text
> - Therefore, you need a way to convert text values
> - To numbers such as `0` or `1` **Dummy Variables**
> - Which `function()` do you use to achieve this?

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
regression_tree = DecisionTreeRegressor()
regression_tree.fit(X,y)

# `DecisionTreeClassifier()` Model in Python

## Build the Model

> 1. **Necesity**: Build Model
> 2. **Google**: How do you search for the solution?
> 3. **Solution**: Find the `function()` that makes it happen

## Code Thinking

> - By the time you get to the actual `function()` to compute the model
> - You'll notice they're asking you for two parameters:
> 1. `X`: **explanatory variables**
> 2. `y`: **target varaible**

### Finally `fit()` the Model

> - Pass the `objects` that **contains the sequence of numbers** of the two variables
> - To the `parameters` of the function that computes the Linear Regression Model

## Make a Prediction

> You should already know that ML models are
> mathematical equations that you optimize to
> calculate predictions
>
> As you `fit()` the model, the mathematical function
> is built. Therefore, could you make a prediction?
>
> - Select a random person:

In [ ]:
person = df.sample()

> - Compute the probability of this person for `internet_usage`:

## Visualize the Model

> 1. Use `plot_tree()`, contained in `tree` module from `sklearn` library
> 2. Then, you may use `[shift] + [tab]` to see what **parameters** the function is asking for

> - Could you justify how we got to the prediction in previous exercise?

# Decision Tree Algorithm Explanation

> _You may watch the following video to understand how the Decision Tree works:_

In [ ]:
%%HTML

<iframe width="560" height="315" src="https://www.youtube.com/embed/7VeUPuFGJHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

# Model Interpretation

> - Which is the variable in the **root node**?
> - Is it the most **important feature**? Why?

# Real vs. Predicted Data

> - Compute all predictions:
>
> - `model.predict()`

> How good is our model?
>
> 1. Create a new `DataFrame` column to assign the predictions.
>
> - `df['pred'] = predictions`

> - `df.sample(10)` to check if predictions are equal to reality:

> 2. How to measure the **model's error**?
> - How good is our model to predict reality?
> - `model.score()`

# Confusion Matrix

> 1. Use function `confusion_matrix()`, or `plot_confusion_matrix()`
> 2. What represents the first number in the matrix?

# Other Metrics

## Sensitivity

## Specificity

## Classification Report

> 1. Use `classification_report()`
> 2. Save the resulting object in `report`
> 3. `print(report)`
> 4. Are some numbers equal to the ones we calculated before (Sensitivity & Specificity?

## ROC Curve

> - Use `plot_roc_curve()`
>
> _You may watch the following video to understand the metric:_

In [ ]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/4jRBRDbJemM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] Understand how **the Decision Tree Algorithm** is just counting observations to determine the outcome.
- [ ] Another way to **compare real data with predictions** from the model.
- [ ] Not all model visualizations are equal.
    - A tree was visualized instead of an `scatterplot()` to interpret the model.
- [ ] Distinguish **probability's role** to optimize this type of models.
- [ ] Know how to determine **why a variable is important** in the model.
    - Why is it giving significant differences?
    - How does EDA helps us to see it?
- [ ] Understand the process of the algorithm to determine if we need to **normalize/scale** the data.