<font size="+5">#06 | Componentes Principales (PCA)</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - Simply execute the following lines of code to load the data
> - This dataset contains **statistics** (columns)
> - About **Car Models** (rows)

In [1]:
import seaborn as sns

df = sns.load_dataset(name='mpg', index_col='name')
df.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet nova custom,16.0,6,250.0,100.0,3278,18.0,73,usa
chevrolet woody,24.5,4,98.0,60.0,2164,22.1,76,usa
chevrolet citation,28.8,6,173.0,115.0,2595,11.3,79,usa
toyota corolla 1200,31.0,4,71.0,65.0,1773,19.0,71,japan
amc hornet,22.5,6,232.0,90.0,3085,17.6,76,usa
amc matador,14.0,8,304.0,150.0,3672,11.5,73,usa
hi 1200d,9.0,8,304.0,193.0,4732,18.5,70,usa
chevrolet malibu,20.5,6,200.0,95.0,3155,18.2,78,usa
toyota carina,20.0,4,97.0,88.0,2279,19.0,73,japan
amc matador (sw),14.0,8,304.0,150.0,4257,15.5,74,usa

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Data Preprocessing

- All variables need to be **comparables**.
- It is not the same to increase 1kg of weight, than 1m of height.
- We will use `StandardScaler()`.

In [ ]:
x=df.iloc(:,1:-1)

In [4]:
scaler = StandardScaler()

# `KMeans()` Model in Python

## Code Thinking

> Which function computes the Model?
> - `fit()`
>
> How could can you **import the function in Python**?

## Get the `cluster` for all USA States

> - `model.` + `â†¹`

> - Create a `dfsel` DataFrame
> - That contains the **columns you used for the model**

> - Add a **new column**
> - That **contains the `cluster` prediction** for every USA State

In [ ]:
df['cluster'] = ?

## Model Visualization

> - You may `hue=` the points with the `cluster` column

## Model Interpretation

> - Does the visualization makes sense?
> - The points are mixed between the groups, why?
> - We are **just representing 2 variables**
> - And the model was **fitted with 7 variables**

# Grouping Variables with `PCA()`

In [1]:
%%HTML

<iframe width="560" height="315" src="https://www.youtube.com/embed/HMOI_lkzW08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Transform Data to Components

> - `PCA()` is another technique used to transform data.
> How has the data been manipulated so far?
> 1. Original Data `df`
> 2. Normalized Data `dfnorm`
> 3. Principal Components Data `dfpca` (now)

## Visualize Components & Clusters

> - A **scatterplot** with `PC1` & `PC2`
> - Colour points by `cluster`
> - Are they **mixed** now?

## Relationship between Original Variables & Components

### Loading Vectors

### Calculating One PCA Value

### Biplot

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] Understand the role of **Linear Algebra** on Machine Learning
    - Matrix Multiplications with the `loadings`
- [ ] Necessity to `StandardScaler()` the data when the algorithm implies distance calculations
- [ ] Understand that every Machine Learning process is a matter of optimization
    - To find the best numbers based on a criteria
    - How is done in `PCA()`?
- [ ] Why would you use PCA?
    - Visualization
    - Preprocess the data for modelling
- [ ] There are techniques for everything
    - [ ] Grouping observations
    - [ ] Grouping variables